// Portfolio
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Header

.header {
  height: 42px;
  padding: 2.0rem 0;

  .logo {
    span {
      display: inline-block;
      width: 42px;
      height: 42px;
      background: url(../img/matt-tronvig-logo.svg) no-repeat center center;
      background-size: contain;
    }
  }
}


// Dots
.dots {
  background-image:
    linear-gradient(transparent 0px, transparent 2px, rgb(42, 42, 42) 2px, rgb(42, 42, 42) 20px),
    linear-gradient(to right, rgb(42, 64, 64) 0px, rgb(42, 64, 64) 2px, rgb(42, 42, 42) 2px, rgb(42, 42, 42) 20px);
  background-position: -233px -2px;
  background-size: 20px 20px;
  min-width: 100%;
  min-height: 100vh;
  user-select: none;
  z-index: -1;
  position: fixed;
}

// Intro
.intro {
  min-height: 100vh;

  h1 {
    -webkit-animation: fadeInUp 0.8s ease-out ;
    animation: fadeInUp 0.8s ease-out ;
    margin-top: 18vh;
  }

  // https://css-tricks.com/viewport-sized-typography/
  h1 {
    //font-size: calc(3.0rem + 3vw);
  }

  @media (min-width: 50em) {
    h1 {
      //font-size: 50px;
    }
  }

  p {
    font-size: 1.8rem;
    font-weight: 100;
    max-width: 450px;
  }
}

// Hero

.hero {

}

.feature {
  display: inline-block;
  margin-top: 20vh;
  width: 420px;
  min-height: 283px;
  opacity: 1;
  transition: all 0.8s ease;
  -webkit-animation: fadeInUp 0.8s ease-out ;
  animation: fadeInUp 0.8s ease-out ;

  &.feature--sketch {
    span {
      display: inline-block;
      width: 420px;
      min-height: 283px;
      background: url(../img/feature-sketch.svg) no-repeat center center;
      background-size: contain;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &:hover {
      span {
        background: url(../img/feature-sketch-hi.svg) no-repeat center center;
        background-size: contain;
      }
    }
  }
}

.case-studies {
  margin-bottom: 12.0rem;

  &:hover {

    h3 {

    }
  }
}

.study {
  position: relative;
  margin-bottom: 4.0rem;

  h3 {
    margin-top: 2.0rem;
    position: relative;
    z-index: 11;

    a {
      display: block;
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }

  p {
    opacity: 1;
    transition: opacity 0.8s ease;

    &.category {
      color: $medium-grey;
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    @media (#{$bp-tablet}) {
      opacity: 1;
    }
  }

  &:hover {

    h3 {

    }

    p {
      opacity: 1;
    }

    .screen {
      opacity: 1;

      &.screen--mv,
      &.screen--txl,
      &.screen--aa,
      &.screen--aa-charts,
      &.screen--aa-prototype,
      &.screen--mv-vendors,
      &.screen--mv-notifications,
      &.screen--txl-pm,
      &.screen--txl-design,
      &.screen--ho-ux,
      &.screen--ho-web {
        span {
          top: -5px;
        }
      }
    }
  }
}

.screen {
  display: inline-block;
  margin-top: 3.0rem;
  width: 205px;
  height: 140px;
  opacity: 1;
  transition: all 0.8s ease;
  z-index: -1;

  &.screen--mv,
  &.screen--txl,
  &.screen--aa,
  &.screen--aa-charts,
  &.screen--aa-prototype,
  &.screen--mv-vendors,
  &.screen--mv-notifications,
  &.screen--txl-pm,
  &.screen--txl-design,
  &.screen--ho-ux,
  &.screen--ho-web {
    span {
      top: 20px;
      position: relative;
      display: inline-block;
      width: 205px;
      height: 140px;
      background: url(../img/study-aa.png) no-repeat center center;
      background-size: contain;
      border-radius: 7px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }
  // Multiverse
  &.screen--mv-vendors {
    margin-left: -100px;

    span {
      background: url(../img/study-mv-vendors.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.3s;
    }
  }
  &.screen--mv-notifications {
    span {
      background: url(../img/study-mv-notifications.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.4s;
    }
  }
  // Attribution Analytics
  &.screen--aa-charts {
    margin-left: -100px;

    span {
      //right: 140px;
      background: url(../img/study-aa-charts.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.3s;
    }
  }
  &.screen--aa-prototype {
    span {
      background: url(../img/study-aa-prototype.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.4s;
    }
  }
  // TXL
  &.screen--txl-pm {
    margin-left: -100px;

    span {
      background: url(../img/study-txl-pm.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.3s;
    }
  }
  &.screen--txl-design {
    span {
      background: url(../img/study-txl-design.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.4s;
    }
  }
  &.screen--ho-web {
    margin-left: -100px;

    span {
      background: url(../img/study-txl-design.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.3s;
    }
  }
  &.screen--ho-ux {
    span {
      background: url(../img/study-txl-pm.svg) no-repeat center center;
      background-size: contain;
      transition: all 0.5s ease;
      transition-delay: 0.4s;
    }
  }

  @media (#{$bp-tablet}) {
    display: none;
  }
}

.preload {
  .intro {
  }
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
